/* .video-js .vjs-control-bar {
    background-color: ;
} */
/* 
.video-js .vjs-play-progress {
    background-color: #80bb;
}

.video-js .vjs-load-progress div {
    background-color: rgba(209, 147, 244, 0.4);
}

.vjs-icon-fullscreen-enter:before,
.video-js .vjs-fullscreen-control .vjs-icon-placeholder:before {
    color: #dbbbee;
}

.vjs-icon-picture-in-picture-enter:before,
.video-js .vjs-picture-in-picture-control .vjs-icon-placeholder:before {
    color: #dbbbee;
}

.vjs-icon-play:before,
.video-js .vjs-play-control .vjs-icon-placeholder:before,
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
    color: #dbbbee;
}

.vjs-icon-volume-high:before,
.video-js .vjs-mute-control .vjs-icon-placeholder:before {
    color: #dbbbee;
}

.video-js .vjs-time-control {
    color: #dbbbee;
} */

/* circle slider */
/* .vjs-icon-circle:before,
.vjs-seek-to-live-control .vjs-icon-placeholder:before,
.video-js .vjs-volume-level:before,
.video-js .vjs-play-progress:before {
    color: #dbbbee;
} */

/* sounde progress */
/* .video-js .vjs-volume-panel .vjs-volume-control.vjs-volume-horizontal {
    color: #dbbbee;
} */

/* .video-js .vjs-progress-control {
    background-color: rgba(208, 147, 244, 0.1);
} */
